---
import { getCollection } from "astro:content";
import ProjectCard from "./ProjectCard.astro";

const proyectos = await getCollection("proyectos");

---
<div class="w-full md:grid flex flex-col md:grid-cols-2 gap-2">
    {
        proyectos.map((project) => (
          <ProjectCard
            title={project.data.title}
            url={project.data.url}
            span={project.data.span}
            desc={project.data.description}
            img={project.data.img}
            slug={project.slug}
          />
        ))
      }
</div>

